*{
    box-sizing: border-box;
}
body{
    margin:0;
    text-align: center;
    font-size: 15px;
    font-family: "Outfit",sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.container{
    margin-inline: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1440px;

}

.card{
    max-width: 320px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
}
.card img{
    width: 100%;
}
.card h2{
    color:hsl(218, 44%, 22%);
}
.card p{
    color:hsl(216, 15%, 48%);
    font-weight: 400;
    margin-bottom: 1.5em;
    max-width: 250px;
    margin-inline: auto;
}
.attribution{
    position: absolute;
    bottom:1em;
}
@media (width<375px) {
    .container{
        padding: 1em;
    }
}
